@import "../../../styles/variables";

.forecast {
	min-width: 100%;
	height: calc(100svh - 105px);
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 5px;
	transition: 0.2s ease-in;
	padding: 0 5px;

	&_temp {
		display: flex;
		flex-direction: column;
		grid-row: 1;
		grid-column: 3;
		&_description {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: max(30px, min(7vw, 6rem));
		}
		&_deg {
			height: max(30px, min(7vw, 6rem));
			display: block;
			font-size: max(15px, min(4vw, 3rem));
			opacity: 0.5;
		}
	}
}

@media (width<=$MOBILE_WIDTH) {
	.forecast {
		grid-template-rows: 1fr 1fr 1fr 2fr;
		&_temp {
			grid-column: 4;
		}
	}
}
