.map-address {
	// transform: translateX(-90%);

	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--var-secondary-color);
	&_description {
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		&_location-address {
			font-size: 30px;
			text-align: end;
		}

		&_forecast {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;
			&_temp {
				display: flex;
				font-size: 25px;
				span:nth-child(1) {
					display: block;
					height: 100%;
					font-size: 17px;
					opacity: 0.5;
				}
			}
			&_icon {
				display: grid;
				place-content: center;
				svg {
					width: 30px;
				}
			}
		}
	}

	&_border {
		width: 10px;
		height: 90px;
		background-color: aqua;
	}
}
