@keyframes appearsLocation {
	0% {
	}
	50% {
		top: -6px;
	}
	80% {
		top: -16px;
		transform: rotate(45deg) scale(1.25);
	}
	100% {
		opacity: 1;
		transform: rotate(45deg) scale(1);
		top: -12px;
	}
}
$translate: translate(-50%, -50%);
$transition: 0.3s ease-in;
$activeBackground: rgba(255, 224, 92, 1) 22%, rgba(255, 121, 62, 1) 68%, rgba(255, 59, 92, 1) 100%;
.location {
	position: absolute;
	transform: $translate;
	cursor: pointer;
	&_marker {
		width: 12px;
		height: 12px;
		opacity: 0.8;
		border-radius: 50%;
		background: var(--var-tertiary-color-hover);
		transition: 0.1s ease-in;
		&:hover {
			opacity: 1;
			transform: scale(1.2);
		}
	}
	&_pin {
		width: 12px;
		height: 12px;
		position: absolute;
		top: 12px;
		left: 0;
		background: linear-gradient(90deg, $activeBackground);
		border-radius: 60px 60px 0px 60px;
		transform: rotate(45deg) scale(0.25);
		opacity: 0;
		animation: appearsLocation $transition forwards;
		z-index: 9999;
		&:after {
			content: "";
			width: 6px;
			height: 6px;
			background: var(--var-tertiary-color);
			position: absolute;
			left: 26%;
			top: 26%;
			border-radius: 60px;
		}
	}
}
.isActiveLocation {
	z-index: 9999;
	.location {
		&_marker {
			transform: rotateX(-60deg);
			background: linear-gradient(141deg, $activeBackground);
			opacity: 1;
			&:after {
				content: "";
				width: 7px;
				height: 7px;
				background-color: var(--var-tertiary-color);
				position: absolute;
				left: 20.83%;
				top: 20.83%;
				border-radius: 50%;
			}
		}
	}
}
