.day {
	--var-primary-color: #f9f7f7;
	--var-secondary-color: #dbe2ef;
	--var-tertiary-color: #3f72af;
	--var-tertiary-color-hover: #4887d4;
	--var-text-color: #112d4e;
}
.night {
	--var-primary-color: #27374d;
	--var-secondary-color: #526d82;
	--var-tertiary-color: #9db2bf;
	--var-tertiary-color-hover: #7c94a2;

	--var-text-color: #dde6ed;
}
