.day {
	--var-primary-color: #f9f7f7;
	--var-secondary-color: #dbe2ef;
	--var-tertiary-color: #3f72af;
	--var-tertiary-color-hover: #4887d4;
	--var-text-color: #112d4e;
}
.night {
	--var-primary-color: #2b323c;
	--var-secondary-color: #383f49;
	--var-tertiary-color: #676c72;
	--var-tertiary-color-hover: #00ffeb;
	--var-complementary: #bbc1f890;
	--var-text-color: #f8f8f8;
}
