@import "../../../../styles/variables";

.arrow-btn {
	display: none;
}

@media (width > $MOBILE_WIDTH) {
	.arrow-btn {
		width: 100%;
		height: 100%;
		display: block;
		background-color: $SECONDARY_COLOR;
		transition: 0.15s ease-in;
		grid-row: 1 / span 2;
		svg {
			transition: 0.15s ease-in;
		}
		&.left {
			grid-column: 1;
		}
		&.right {
			grid-column: 3;
		}
		&:hover {
			background-color: $TERTIARY_COLOR;
			svg {
				transform: scale(1.1);
			}
		}
	}
}
