.splash-page {
	width: 100%;
	height: 100svh;
	display: grid;
	place-content: center;
	background-color: var(--var-primary-color);
	&_background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: grid;
		place-content: center;
		svg {
			display: block;
			width: 100%;
			height: 100vh;
			path {
				fill: var(--var-secondary-color);
			}
		}
	}
	&_context {
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;
		z-index: 999;
		font-size: max(25px, min(2vw, 3rem));
		padding: 50px;
		border-radius: 10px;
	}
	span {
		color: var(--var-text-color);
	}
	.geolocation-search {
		margin: 0 auto;
	}
}
