@import "../../../../styles/animations", "../../../../styles/variables", "../../../../styles/styles";

.weekly {
	grid-row: 2;
	grid-column: 2 / span 3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1px;
	padding: 0;
	&_day {
		width: 100%;
		height: 100%;
		position: relative;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: $TERTIARY_COLOR;
		cursor: pointer;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: 0.2s ease-in;
			border-radius: 3px;
			background: var(--aqua-gradient);
		}
		&:hover {
			border-radius: 3px;

			&::before {
				opacity: 1;
			}
		}

		&_description {
			display: flex;
			flex-direction: column;
			align-items: center;
			span {
				height: 50px;
				display: flex;
				align-items: center;
				text-align: center;
				opacity: 0.5;
			}
		}
	}
}
.index {
	z-index: 999;
}

.popup-hourly {
	display: grid;
	place-items: center;
	background: transparent;
	grid-row: none;
	grid-column: none;
	table {
		width: 80%;
		height: 50%;
		background: $PRIMARY_COLOR;
		border-radius: 10px;
	}
	&_close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 50px;
		height: 50px;
		background: transparent;
		z-index: 9999999;
		svg {
			fill: white;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			transition: 0.1s ease-in;
		}
		&:hover {
			svg {
				opacity: 1;
			}
		}
	}
}

@media (width<=$MOBILE_WIDTH) {
	.weekly {
		grid-column: 1 / span 4;
		grid-row: 3;
		font-size: 0.7em;
	}
	.popup-hourly {
		padding: 0 10px;
		table {
			width: 100%;
		}
	}
}
