@import "../../../../../../styles/variables";

.locations {
	&_container {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		padding: 5px;
	}
	&_location {
		min-width: 150px;
		padding: 5px 20px;
		background-color: $SECONDARY_COLOR;
		font-size: max(15px, min(2vw, 1.5rem));
		color: white;
		border-radius: 3px;
		border: 1px solid rgba(255, 255, 255, 0);
		transition: 0.2s ease-in;
		&_description {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			&_temp {
				font-size: 14px;
				span {
					opacity: 0.5;
				}
			}
		}
		&:hover {
			border: 1px solid rgba(255, 255, 255, 1);
		}
	}
}
.activeLocation {
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: $TERTIARY_COLOR;
}

@media (width<=$MOBILE_WIDTH) {
	.locations_location {
		position: relative;
		width: 100%;
		z-index: 999999999;
	}
}
