@import "../styles/variables";

$FONT-SIZE: 1.2rem;
.location-popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	background: rgba(0, 0, 0, 0.337);
	&_description {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		span {
			display: inline-block;
			font-size: $FONT-SIZE;
		}
		svg {
			max-width: 10rem;
			max-height: 10rem;
		}
	}
	&_btn {
		width: 10rem;
		height: 40px;
		color: $TEXT_COLOR;
		font-size: $FONT-SIZE;
		background: transparent;
		border: 1px solid $TEXT_COLOR;
		border-radius: 5px;
		transition: 0.1s ease-in;
		&:hover {
			background-color: rgba(255, 255, 255, 0.455);
		}
	}
}
