.hourly {
	grid-row: 3;
	grid-column: 1 / span 4;
	display: flex;
	overflow-x: scroll;
	&_forecast {
		width: 100%;
		border-collapse: collapse;

		&_description,
		span {
			opacity: 0.5;
			font-size: 10px;
		}
		&_time {
			font-size: 10px;
		}
		td {
			text-align: center;
			vertical-align: middle;
			transition: 0.1s ease-in;
			cursor: default;
		}
	}
}
.isHover {
	background-color: var(--var-tertiary-color);
}
.temp {
	height: fit-content;
	display: flex;
	justify-content: center;
}
.bb {
	border-bottom: 1px solid var(--var-tertiary-color);
}
.currentTime {
	background-color: var(--var-complementary);
}
