@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import "./styles/styles";
body {
	font-family: "Red Hat Display";
	font-weight: 500;
}
.App {
	background-color: var(--var-primary-color);
	width: 100%;
	height: 100svh;
	overflow: hidden;
	color: white;
}
